$color-primary: #3E9CDC;
$color-primary-dark: #286690;
$color-primary-hover: #43abf0;
$color-bg-dark: #10101de5;
$color-bg-footer: #3D4050;
$color-bg-dropdown: #272733;
$color-text-main: #2A2B30;
$color-text-light: #ffffff;
$color-text-grey: #C3C3C3;
$color-text-dark: #000000;
$color-border-light: #6F6D7B;
$color-border-footer: #FFFFFF;
$color-bg-input: #f4f4f4;
$color-range-bg: #bebdc2;
$color-highlight: #42A9ED;
$color-border-gray: #ccc;
$color-border-select-open: #2d2d3a;
$color-scrollbar-thumb: #2b6cff;

$font-main: 'Lato', sans-serif;
$font-accent: 'Raleway', sans-serif;

$container-width: 1170px;
$header-height: 100px;

$transition-base: 0.2s ease;

$breakpoint-xl: 1440px;
$breakpoint-l: 1240px;
$breakpoint-m: 1024px;
$breakpoint-s: 768px;
$breakpoint-xs: 576px;